<div {{bind-attr class=":alert :alert-dismissible type" }} role="alert">
    <button type="button" class="close" {{ action 'closeAlert' }} aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>{{title}}</strong>:&nbsp;{{message}}.
</div>
