<div id="dialog-confirm-delete" title="Delete a record?">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Are you sure you want to delete?</p>
</div>

{{yield}}
