<p class="help-block">Turn the switch to include or exclude someone from this list</p>
<ul class="list-group">
    {{#each list as |member|}}
        <li class="list-group-item circle-loop">
            <img src={{member.availableImage}} height="32" width="32" class="img-circle"
                 style="margin-bottom:-15px; margin-top:-15px" alt="avatar"/> {{member.fullName}}
            <div class="btn-group" role="group" aria-label="...">

                <button type="button" class="btn btn-default" {{action 'openDeleteDialog' member.id target="view" bubbles="false" }}>Delete</button>
            </div>
        </li>
    {{/each}}
</ul>

{{delete-confirm}}
