<p class="help-block">Turn the switch to include or exclude someone from this list</p>
<ul class="list-group">
    {{#each list as |member|}}
        <li class="list-group-item circle-loop">
            <div class="row">
                <div class="col-xs-12">
                    <img src={{member.availableImage}} height="32" width="32" class="img-circle" alt="avatar"/> {{member.fullName}}
                    <div class="btn-group pull-right" role="group" aria-label="...">
                        <button type="button" class="btn btn-default" {{action 'openDeleteDialog' member.id target="view" bubbles="false" }}><span class="glyphicon glyphicon-remove"></span> Remove</button>
                    </div>
                </div>
            </div>
        </li>
    {{/each}}
</ul>

{{delete-confirm}}
