<div class="form-group">
    <label {{bind-attr for=id}}>
        {{label}}
    </label>

    {{input id=id type=type value=value class="form-control" placeholder=placeholder required=required}}
</div>
