<div id="postbox" {{action "hideBox"}} class={{if isHidingPostBoxFake 'hide'}}>
    <div id="postbox_fake">
        <div class="input-textarea-fake">
            <span>Post a message, event, or tip to neighbors</span>
        </div>
    </div>
</div>
