<div class="row row-xs-height">
    <div class="col-xs-offset-2 col-xs-10">
        <h1>Edit Family</h1>
    </div>
</div>
<div {{bind-attr class=":row :row-xs-height showAlert::collapse" }}>
    <div class="col-xs-12">
        {{alert-bar title=alertTitle message=alertMessage type=alertType closeAlert="closeAlert" }}
    </div>
</div>
{{partial "family/form"}}