<div class="row row-gutter-bottom row-gutter-top">
    <div class="col-xs-12 col-md-6">
        <ol class="breadcrumb">
            <li>{{#link-to 'index'}}Home{{/link-to}}</li>
            <li>
                <button class="btn-link" {{action "goBack"}}>Family</button>
            </li>
        </ol>
    </div>
</div>
{{#if model}}
<div class="row row-gutter-bottom row-gutter-top">
    <div class="col-xs-12">
        {{family-list model=model apiEditFamily="goToEditFamily" apiDeleteFamily="deleteFamily" apiAddMember="goToAddMember" apiEditMember="goToEditMember" apiDeleteMember="deleteMember" apiCancel="cancelUserCreation"}}
    </div>
</div>
{{else}}
<div class="row row-gutter-bottom row-gutter-top">
    <div class="col-xs-12">
        <p class="lead">
            It appears that you don't have a family profile yet.  Creating a family profile will allow other families in your area to find you.
        </p>
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        <p class="lead">
            Register as a family, so others at your neighborhood can find you.
        </p>
        {{#link-to 'family.new' class="btn btn-cys"}}Add New Family{{/link-to}}
    </div>
</div>
{{/if}}
