<div class="row row-gutter-bottom">
    <div class="col-xs-2">
        {{#link-to 'family.my'}}back{{/link-to}}
    </div>
    <div class="col-xs-2">
        {{#link-to 'family.edit' model.id}}Edit{{/link-to}}
    </div>
    <div class="col-xs-4">
        <div class="fb-share-button" {{bind-attr data-href="model.tipUrl" }} data-layout="button_count"></div>
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-2">
        Family Name:
    </div>
    <div class="col-xs-10">
        {{model.familyName}}
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-2">
        Zip Code:
    </div>
    <div class="col-xs-10">
        {{model.zipCode}}
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-2">
        Description:
    </div>
    <div class="col-xs-10">
        {{model.description}}
    </div>
</div>
