<div class="row row-xs-height">
    <div class="col-xs-2">
        {{#link-to 'family.my'}}<< back{{/link-to}}
    </div>
    <div class="col-xs-2">
        {{#link-to 'family.edit' id}}Edit{{/link-to}}
    </div>
    <div class="col-xs-4">
        <div class="fb-share-button" {{bind-attr data-href="tipUrl" }} data-layout="button_count"></div>
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-2">
        Family Name:
    </div>
    <div class="col-xs-10">
        {{familyName}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-2">
        Zip Code:
    </div>
    <div class="col-xs-10">
        {{zipCode}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-2">
        Description:
    </div>
    <div class="col-xs-10">
        {{description}}
    </div>
</div>
