$primary-control-color: #19B9B5; // #61b2a7;
$secondary-control-color: #736E6E;
$primary-control-font-color: #fff;
$navigtion-font-size: 17px;

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);

body {
    padding-top: 50px; /* needed so content wont overlap with bootstrap's fixed nav bar */
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0px; /* Margin bottom by footer height */
}

input:required:invalid, input:focus:invalid {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAeVJREFUeNqkU01oE1EQ/mazSTdRmqSxLVSJVKU9RYoHD8WfHr16kh5EFA8eSy6hXrwUPBSKZ6E9V1CU4tGf0DZWDEQrGkhprRDbCvlpavan3ezu+LLSUnADLZnHwHvzmJlvvpkhZkY7IqFNaTuAfPhhP/8Uo87SGSaDsP27hgYM/lUpy6lHdqsAtM+BPfvqKp3ufYKwcgmWCug6oKmrrG3PoaqngWjdd/922hOBs5C/jJA6x7AiUt8VYVUAVQXXShfIqCYRMZO8/N1N+B8H1sOUwivpSUSVCJ2MAjtVwBAIdv+AQkHQqbOgc+fBvorjyQENDcch16/BtkQdAlC4E6jrYHGgGU18Io3gmhzJuwub6/fQJYNi/YBpCifhbDaAPXFvCBVxXbvfbNGFeN8DkjogWAd8DljV3KRutcEAeHMN/HXZ4p9bhncJHCyhNx52R0Kv/XNuQvYBnM+CP7xddXL5KaJw0TMAF8qjnMvegeK/SLHubhpKDKIrJDlvXoMX3y9xcSMZyBQ+tpyk5hzsa2Ns7LGdfWdbL6fZvHn92d7dgROH/730YBLtiZmEdGPkFnhX4kxmjVe2xgPfCtrRd6GHRtEh9zsL8xVe+pwSzj+OtwvletZZ/wLeKD71L+ZeHHWZ/gowABkp7AwwnEjFAAAAAElFTkSuQmCC);
  background-position: right top;
  background-repeat: no-repeat;
  -moz-box-shadow: none;
}

input:required:valid {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAepJREFUeNrEk79PFEEUx9/uDDd7v/AAQQnEQokmJCRGwc7/QeM/YGVxsZJQYI/EhCChICYmUJigNBSGzobQaI5SaYRw6imne0d2D/bYmZ3dGd+YQKEHYiyc5GUyb3Y+77vfeWNpreFfhvXfAWAAJtbKi7dff1rWK9vPHx3mThP2Iaipk5EzTg8Qmru38H7izmkFHAF4WH1R52654PR0Oamzj2dKxYt/Bbg1OPZuY3d9aU82VGem/5LtnJscLxWzfzRxaWNqWJP0XUadIbSzu5DuvUJpzq7sfYBKsP1GJeLB+PWpt8cCXm4+2+zLXx4guKiLXWA2Nc5ChOuacMEPv20FkT+dIawyenVi5VcAbcigWzXLeNiDRCdwId0LFm5IUMBIBgrp8wOEsFlfeCGm23/zoBZWn9a4C314A1nCoM1OAVccuGyCkPs/P+pIdVIOkG9pIh6YlyqCrwhRKD3GygK9PUBImIQQxRi4b2O+JcCLg8+e8NZiLVEygwCrWpYF0jQJziYU/ho2TUuCPTn8hHcQNuZy1/94sAMOzQHDeqaij7Cd8Dt8CatGhX3iWxgtFW/m29pnUjR7TSQcRCIAVW1FSr6KAVYdi+5Pj8yunviYHq7f72po3Y9dbi7CxzDO1+duzCXH9cEPAQYAhJELY/AqBtwAAAAASUVORK5CYII=);
  background-position: right top;
  background-repeat: no-repeat;
}

.cover-page {
    background-color: #4a4c55;
    padding-top: 50px;
    padding-bottom: 50px;
}

.cover-paragraph {
  color:white;
  padding: 15px 1px;
}

.cover-button {
  background-color: #4a4c55;
  border:1px solid #fff;
  width:60px;
  height:20px;
  padding: 10px 40px;
  color: white;
  font-size: 18px;
  margin: 10px;
  cursor: pointer;
}

.cover-page2 {
  padding-top: 80px;
  padding-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
}

.cover-page-item {
  padding: 100px 1px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

.navbarLocationBar {
  color: white;
  padding: 15px;
  font-weight: bold;
  font-size: 17px;
}

.list-group-item-heading {
  color: $primary-control-color;
  font-weight: bold;
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2000;
}

.siwimi-modal {
  position: absolute;
  margin: 10px auto;
  width: 600px;
  background-color: #fff;
  padding: 1em;
  top: 100px;
  left: 100px;
  z-index: 2001;
}

/*
  Question list show black fonts
 */
.list-group-item-text > a {
    color: black;
}

input[type="radio"] {
  background-color: $primary-control-color;
}

.main-content {
    background-color: #f0f1f6
}

.unlink:hover {
  text-decoration: none;
}

.event-list:last-child {
  border-bottom: 0px solid #fff;
}

.event-list {
    border-bottom: 5px solid #fff;
    padding: 20px;
}

.date-box {
  background-color: $primary-control-color;
  width: 50px;
  padding-top:10px;
  padding-bottom:10px;
  color: $primary-control-font-color;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}

.tag-default {
  border:3px solid;
  color: $primary-control-font-color;
  background-color: $primary-control-color;
  border-color: $primary-control-color;
  display: inline-block;
  padding: 2px 4px;
  border-radius: 4px;
  line-height: 0.9;
}

/*.btn-default-inverse {
  color: $primary-control-color;
  background-color: $primary-control-font-color;
  font-weight: bold;
}*/
.navbar-inverse .navbar-nav > li > a.active {
  color: $primary-control-color;
  background-color: white;
  line-height: inherit;
}

.btn-cys-secondary:last-child {
  border-right: 0;
}

.btn-cys-secondary:active,
.btn-cys-secondary.active,
.btn-cys-secondary:hover {
    text-decoration: underline;
    cursor: pointer;
}

.btn-cys-secondary {
    color: $secondary-control-color;
    background-color: $primary-control-font-color;
    font-weight: bold;
    display: inline-block;
    border-right: 1px solid #e8e8e8;
    height: 20px;
    line-height: 20px;
    margin-right: 10px;
    padding-right: 10px;
}

.btn-cys:hover,
.btn-cys:active,
.btn-cys.active {
  color: $primary-control-color;
  background-color: $primary-control-font-color;
  border-color: $primary-control-color;
}

.btn-cys-inverse,
.btn-cys-inverse:hover,
.btn-cys-inverse:active,
.btn-cys-inverse.active {
  color: $primary-control-color;
  background-color: $primary-control-font-color;
  border-color: $primary-control-color;
  line-height: 0.9;
  font-weight: bold;
  font-size: $navigtion-font-size;
}

.btn-cys {
  border:3px solid;
  color: $primary-control-font-color;
  background-color: $primary-control-color;
  border-color: $primary-control-color;
  margin-bottom:3px;
  font-weight: bold;
  font-size: $navigtion-font-size;
  padding: 6px 6px;
  line-height: 0.9;
}
/*
Bootstrap CSS rules overwrite
*/

/*
.navbar-nav > li > a.active {
  background-color: white;
  padding-bottom: 19px;
}*/

.navbar-nav > li > a {
  font-weight: bold;
  font-size: $navigtion-font-size;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
/*    font-weight: bold;
  background-color: $primary-control-color;*/
  color: $primary-control-color;
  border: 2px solid $primary-control-color;
  background-color: #fff;
  font-size: 19px;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: $primary-control-color;
  border-color: $primary-control-color;
}

.pagination > li > a, .pagination > li > span {
  color: $primary-control-color;
  border: 1px solid $primary-control-color;
  font-size: $navigtion-font-size;
  font-weight: bold;
  cursor: pointer;
}

.row-gutter-top {
    margin-top: 15px;
}

.row-gutter-bottom {
	margin-bottom: 15px;
}

.row-division-top {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: '#eee';
}

.required {
    color: red;
}

.bold {
    font-weight: bold;
}

.topic-map {
    background-color: #e9e9e9
}

.topic-map h4 {
    margin: 1px 0 2px 0;
    color: #919191;
    font-weight: normal;
    font-size: 0.857em;
    line-height: 15px;
}

.topic-map ul {
    margin: 0;
    list-style: none;
}

.topic-map ul li {
    display: inline-block;
}

.avatar {
    width: 42px;
    height: 42px;
    margin-bottom: 15px;
}

/* Bootstrap Theme example sticky footer*/
.navbar {
  min-height: 46px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
    text-align: center;
  background-color: #f5f5f5;
}

.blog-footer {
    padding: 0px 0;
    color: #999;
    text-align: center;
    background-color: #222;
    border-top: 1px solid #e5e5e5;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.vote-up {
    background-image: url('/assets/images/sprites.svg');
    background-position: 0 -175px;
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    text-indent: -9999em;
    width: 40px;
    margin-bottom: 2px;
    background-size: initial;
}

.vote-down {
    background-image: url('/assets/images/sprites.svg');
    background-position: 0 -225px;
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    text-indent: -9999em;
    width: 40px;
    margin-bottom: 12px;
    background-size: initial;
}

.vote-count-post {
    display: block;
    font-size: 20px;
    width: 40px;
    text-align: center;
}

.star-on {
    background-image: url('/assets/images/sprites.svg');
    background-position: -40px -120px;
    background-repeat: no-repeat;
    height: 30px;
    width: 40px;
    color: #0c65a5;
    cursor: pointer;
    display: block;
    text-indent: -9999em;
    text-align: center;
    margin-bottom: 2px;
    background-size: initial;
}

.star-off {
    background-image: url('/assets/images/sprites.svg');
    background-position: 0 -120px;
    background-repeat: no-repeat;
    height: 30px;
    width: 40px;
    color: #0c65a5;
    cursor: pointer;
    display: block;
    text-indent: -9999em;
    text-align: center;
    margin-bottom: 2px;
    background-size: initial;
}

/* for image preview */
#frame {
    width: 1280px;
    height: 900px;
    border: none;
    -moz-transform: scale(0.1);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.1);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.1);
    -webkit-transform-origin: 0 0;
}

/* Bootstrap Dashboard.css overwrite */
.nav-sidebar > li > a.active  {
  color: #fff;
  background-color: #428bca;
}


/* 2015-01-25 AutoComplete addon */
ic-autocomplete { width: 200px; }
ic-autocomplete-list {
  max-height: 200px;
}
.image-block {
  overflow: hidden;
}
.image-block-image {
  float: left;
  margin-right: 6px;
}
.image-block-content {
  display: table-cell;
  vertical-align: top;
  width: 100px;
}
#movies {
  width: 300px;
}
#movies ic-autocomplete-option {
  font-size: 14px;
}
#movies ic-autocomplete-list {
  max-height: 500px;
}
#movies ic-autocomplete-toggle {
  display: none;
}
#movies img {
  display: inline-block;
  padding-right: 10px;
  vertical-align: middle;
}

.loading-pane {
  margin: 25px auto;
}

.loading-message {
  text-align: center;
  color: #aaa;
}

.spinner {
  background: url('/assets/images/spinner.gif') no-repeat;
  height: 31px;
  width: 31px;
  margin: 0 auto;
}

.nav-custom {
    margin-top: 10px;
}
