.row-xs-height {
	margin-bottom: 15px;
	/*display: table-row;*/
}

.bold {
    font-weight: bold;
}

/* for image preview */
#frame {
    width: 1280px;
    height: 900px;
    border: none;
    -moz-transform: scale(0.1);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.1);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.1);
    -webkit-transform-origin: 0 0;
}

/* Bootstrap Dashboard.css overwrite */
.nav-sidebar > li > a.active  {
  color: #fff;
  background-color: #428bca;
}


/* 2015-01-25 AutoComplete addon */
ic-autocomplete { width: 200px; }
ic-autocomplete-list {
  max-height: 200px;
}
.image-block {
  overflow: hidden;
}
.image-block-image {
  float: left;
  margin-right: 6px;
}
.image-block-content {
  display: table-cell;
  vertical-align: top;
  width: 10000px;
}
#movies {
  width: 300px;
}
#movies ic-autocomplete-option {
  font-size: 14px;
}
#movies ic-autocomplete-list {
  max-height: 500px;
}
#movies ic-autocomplete-toggle {
  display: none;
}
#movies img {
  display: inline-block;
  padding-right: 10px;
  vertical-align: middle;
}