<div class="row row-gutter-bottom">
    <div class="col-xs-2">
    </div>
    <div class="col-xs-10">
        <h1>Edit Item</h1>
    </div>
</div>
<div {{bind-attr class=":row :row-gutter-bottom showAlert::collapse" }}>
    <div class="col-xs-12">
        {{alert-bar title=alertTitle message=alertMessage type=alertType closeAlert="closeAlert" }}
    </div>
</div>
{{partial "item/form"}}

