<div class="row row-xs-height">
    <div class="col-xs-2">
        {{#link-to 'questions.my'}}<< back to list{{/link-to}}
    </div>
    <div class="col-xs-2">
        {{#link-to 'questions.edit' id}}Edit{{/link-to}}
    </div>
    <div class="col-xs-4">
        <div class="fb-share-button" {{bind-attr data-href="tipUrl" }} data-layout="button_count"></div>
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-12">
        {{title}}
    </div>
    <div class="col-xs-12">
        {{description}}
    </div>
</div>
