<div class="row row-gutter-bottom">
    <div class="col-xs-2">
        {{#link-to 'questions.my'}}back to list{{/link-to}}
    </div>
    <div class="col-xs-2">
        {{#link-to 'questions.edit' model.id}}Edit{{/link-to}}
    </div>
    <div class="col-xs-4">
        <div class="fb-share-button" {{bind-attr data-href="model.tipUrl" }} data-layout="button_count"></div>
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        {{model.title}}
    </div>
    <div class="col-xs-12">
        {{model.description}}
    </div>
</div>
