<div class="overlay"></div>
<div class="siwimi-modal">
    <div class="row row-gutter-bottom">
        <div class="col-xs-12">
            <h1>Okay</h1>
        </div>
    </div>
    <div class="row row-gutter-bottom">
        <div class="col-xs-12">
            <button {{action "closeModal" }} class="btn btn-cys">Close</button>
        </div>
    </div>
</div>