<div class="row row-gutter-bottom row-gutter-top">
    <div class="col-xs-12">
        <h1>We welcome your feedback</h1>
        <h3>You can tell us any feature improvement. Or you can suggest features that you want.</h3>
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        {{textarea class="edit_box" rows="10" cols="60" value=model.description placeholder="Please type your suggestions here!"}}
    </div>
</div>

<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        <button class="btn btn-cys" type="button" {{action "send" }} disabled={{disabled}}>Send</button>
        {{link-to 'Cancel' 'application' class="btn btn-link" }}
    </div>
</div>
