<div class="row row-xs-height">
    <div class="col-xs-10 col-xs-offset-2">
        <h1>We want your feedback</h1>
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-2">
        
    </div>
    <div class="col-xs-10">
        {{textarea class="edit_box" rows="10" cols="60" value=description placeholder="We welcome any suggestions!"}}
    </div>
</div>

<div class="row row-xs-height">
    <div class="col-xs-10 col-xs-offset-2">
        <button class="btn btn-primary btn-sm" type="button" class="btn btn-default btn-lg" {{action "send" }} {{bind-attr disabled=disabled}}>Send</button>
        {{link-to 'Cancel' 'application' }}
    </div>
</div>
