<div class="row row-xs-height">
    <div class="col-xs-12">
        <div class="btn-group" role="group" aria-label="...">
            {{#link-to 'inbox.browse' class="btn btn-default" }}Back{{/link-to}}
            <button type="button" class="btn btn-default" {{action 'delete' }}>Delete</button>
        </div>
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-12">
        {{model.subject}}
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-12">
        {{model.body}}
    </div>
</div>
