<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        <h2>Sent</h2>
    </div>
</div>

<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        <table class="table">
            <thead>
            <th>To</th>
            <th>Title</th>
            <th>Body</th>
            <th>Date</th>
            </thead>
            <tbody>
                {{#each model as |msg|}}
                    <tr>
                        <td>{{#link-to 'inbox.detail' msg.id }}{{msg.to.displayName}}{{/link-to}}</td>
                        <td>{{#link-to 'inbox.detail' msg.id }}{{shorten-string msg.subject 50}}{{/link-to}}</td>
                        <td>{{#link-to 'inbox.detail' msg.id }}{{shorten-string msg.body 50}}{{/link-to}}</td>
                        <td>{{#link-to 'inbox.detail' msg.id }}{{formatted-date msg.createdDate 'LL'}}{{/link-to}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
