<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        <h2>Sent</h2>
    </div>
</div>

<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        <table class="table">
            <thead>
            <th>To</th>
            <th>Title</th>
            <th>Body</th>
            <th>Date</th>
            </thead>
            <tbody>
                {{#each msg in model}}
                <tr>
                    <td>{{msg.from.displayName}}</td>
                    <td>{{msg.subjectReduced}}</td>
                    <td>{{msg.bodyReduced}}</td>
                    <td>{{msg.createdDateShortDateString}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
