<div class="row row-gutter-bottom row-gutter-top">
    <div class="col-xs-12">
        <ol class="breadcrumb">
            <li>{{#link-to 'index'}}Home{{/link-to}}</li>
            <li class="active">User Porfile Information</li>
        </ol>
    </div>
</div>

<div class="col-md-3">
    {{nav-stacked
        action='render'
        title='Profile settings'
        items=navItems}}
</div>

<div class="col-md-offset-1 col-md-8">

{{partial contentTemplate}}

</div>
