<div class="row row-xs-height">
    <div class="col-xs-2">
        {{#link-to 'tip.my'}}<< Back{{/link-to}}
    </div>
    <div class="col-xs-10">
        <h1>Add New Tip</h1>
    </div>
</div>
<div {{bind-attr class=":row :row-xs-height showAlert::collapse" }}>
    <div class="col-xs-12">
        {{alert-bar title=alertTitle message=alertMessage type=alertType closeAlert="closeAlert" }}
    </div>
</div>
{{partial "tip/form"}}
