<div id='external-events'>
    <h4>Draggable Events</h4>
    <div class='external-event'>Dancing Babies</div>
    <div class='external-event'>Chinese Class</div>
    <div class='external-event'>Aiden Play Date</div>
    <div class='external-event'>Everlyn Play Date</div>
    <div class='external-event'>Lily Play Date</div>
    <p>
        <input type='checkbox' id='drop-remove' /> <label for='drop-remove'>remove after drop</label>
    </p>
</div>

<div id='calendar'></div>

<div style='clear:both'></div>
