<div class="row row-xs-height">
    <div class="col-xs-2">
        {{#link-to 'group.my'}}Back{{/link-to}}
    </div>
    <div class="col-xs-10">
        <h1>Add New Group</h1>
    </div>
</div>
{{partial "group/form"}}


