<div class="row row-gutter-bottom row-gutter-top">
    <div class="col-xs-12 col-md-6">
        <ol class="breadcrumb">
            <li>{{#link-to 'index'}}Home{{/link-to}}</li>
            <li><button class="btn-link" {{action "goBack"}}>Groups</button></li>
            <li class="active">Detail</li>
        </ol>
    </div>
    <div class="col-xs-12 col-md-6">
        {{#if showEdit}}
            {{#link-to 'group.edit' model.id class="btn btn-default"}}Edit{{/link-to}}
        {{/if}}
    </div>
</div>

<div class="row row-gutter-bottom">
    <div class="col-xs-2">
        Group Name:
    </div>
    <div class="col-xs-10">
        {{model.title}}
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-2">
        Description:
    </div>
    <div class="col-xs-10">
        {{model.description}}
    </div>
</div>

