<div class="row row-gutter-top row-gutter-bottom">
    <div class="col-xs-12">
        <p class="lead">It appears that you've signed up before, but we haven't got your confirmation yet.</p>
        <p>Please check your inbox for the confirmation email.</p>
        <p><a class="btn btn-cys" {{action "resend" model.id}}>Resend Confirmation Email</a></p>
    </div>
</div>
