<div class="row row-gutter-bottom row-gutter-top">
    <div class="col-xs-12">
        <h2>Thank you!  Your email is confirmed for our newsletter service.</h2>
        <p>
            You can now search our {{#link-to 'activity.browse' }}events data{{/link-to}}.
        </p>
    </div>
</div>
