<div class="container marketing">

    <!-- START THE FEATURETTES -->


    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Who Are We?</h2>
            <p class="lead">
                 We are a group of parents who are busily taking care of our young children.
                We also have a passion of creating products that solve problems for all parents like ourselves.
            </p>
            <p class="secondary-text">
                <em>
                    Siwimi is a word invented by the founder's then 2-year-old daughter.
                She was trying to sing the last three words of the ABC Alphabet song - "Sing With Me".
                </em>
            </p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="/assets/images/about-us-1.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">Why This Site?</h2>
            <p class="lead">
                We want to help parents who have young children.  There are many problems encountered by parents everyday.
                The best way to solve those problems is by helping out each other.
                We created this site to start our mission of connecting local parents.
            </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" src="/assets/images/about-us-2.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">What Do You Offer?</h2>
            <p class="lead">
                Our first feature is {{#link-to 'activity.browse'}}Events{{/link-to}}.  This allows parents to search great local events for their children.
            </p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="/assets/images/about-us-1.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">What Is Your Pain?</h2>
            <p class="lead">
                We want to know what bothers you the most regarding rearing young children.  Your feedback could help us to make this website better.  Send us email at <a href="mailto:info@siwimi.com">info@siwimi.com</a>.
            </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" src="/assets/images/about-us-2.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">
</div>
