<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li>
                    {{link-to 'Events' 'admin.events.list' class="btn btn-cys"}}
                </li>
                <li>
                    {{link-to 'Membership' 'admin.members' class="btn btn-cys"}}
                </li>
                <li>
                    {{link-to 'Event Sites' 'admin.eventSites' class="btn btn-cys"}}
                </li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {{outlet}}
        </div>
    </div>
</div>



