<div class="container">

<div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
  <h2>Forgot Your Password?</h2>
    <br>
  <form {{action "forgotPassword" on="submit"}}>
    <p>Enter your email address in the form below and you will receive an email containing a link to reset it.</p>
  <br>

  <div class="form-group">
      {{input-form label='Email Address' value=email type='text' placeholder='Enter Email' required='true'}}
  </div>

  <button {{action "forgotPassword" email}} class="btn btn-cys" type="submit" id="forgot-password">Send</button>
    &nbsp;&nbsp;&nbsp;{{link-to 'Back to Login' 'login'}}
  </form>
 </div>
</div>

