<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        <div id="navbar" class="navbar-collapse collapse in" aria-expanded="true">
            <ul class="nav navbar-nav">
                <li>
                    {{#link-to 'inbox.browse' class="btn btn-link"}}Inbox{{/link-to}}
                </li>
                <li>
                    {{#link-to 'inbox.new' class="btn btn-link"}}New{{/link-to}}
                </li>
                <li>
                    {{#link-to 'inbox.sent' class="btn btn-link"}}Sent{{/link-to}}
                </li>
                <li>
                    {{#link-to 'inbox.trash' class="btn btn-link"}}Trash{{/link-to}}
                </li>
            </ul>
        </div>
    </div>
</div>
{{outlet}}

