<div class="row row-xs-height">
    <div class="col-xs-12">
        This is User Inbox Resource Master Page
    </div>
</div>
<div class="row row-xs-height">
    <div class="col-xs-12">
        <div id="navbar" class="navbar-collapse collapse in" aria-expanded="true">
            <ul class="nav navbar-nav">
                <li>
                    {{#link-to 'inbox.browse'}}Browse{{/link-to}}
                </li>
                <li>
                    {{#link-to 'inbox.new'}}New{{/link-to}}
                </li>
                <li>
                    {{#link-to 'inbox.sent'}}Sent{{/link-to}}
                </li>
                <li>
                    {{#link-to 'inbox.trash'}}Trash{{/link-to}}
                </li>
            </ul>
        </div>
    </div>
</div>
{{outlet}}

