<div class="row cover-page">
    <div class="col-xs-12">
        <div class="cover-page2">
            <img src="/assets/images/siwimi-logo-green-white-stacked.png">
            <p class="lead" style="color: white;">
                This is a social network dedicated to parents who have young children.
            </p>
            <div>
                <button class="btn btn-cys">Join Us</button>
                <button class="btn btn-cys">Login</button>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-4">
        <img width="100" height="100" src="/assets/images/tips-icon.png">
        <div>
            <h3>Tips</h3>
            <p>
              You can share and learn tips
            </p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <img width="100" height="100" src="/assets/images/events-icon.png">
        <div>
            <h3>Events</h3>
            <p>
              Looking for playdates or family events
            </p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <img width="100" height="100" src="/assets/images/listings-icon.png">
        <div>
            <h3>Listings</h3>
            <p>
              Do you want to sell
            </p>
        </div>
    </div>
</div>