<div class="row cover-page">
    <div class="col-xs-12">
        <div class="cover-page2">
            <img src="/assets/images/siwimi-logo-green-white-stacked.png" width="300" height="136">
            <div class="row">
                <div class="col-xs-12">
                    <p class="lead cover-paragraph">
                        Siwimi is a social network dedicated to parents who have young children.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 col-md-offset-3">
                    <span class="cover-button" {{action 'signup'}}>Join Us</span>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <span class="cover-button" {{action 'login'}}>Login</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
<div class="col-xs-12 col-sm-4">
        <div class="cover-page-item">
            <img width="120" height="120" src="/assets/images/connect-icon.png">
            <div>
                <h3>Connect</h3>
                <p>
                   Search families who live in your neighborhood and connect with them.
                </p>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-4">
        <div class="cover-page-item">
            <img width="120" height="120" src="/assets/images/tips-icon.png">
            <div>
                <h3>Tips</h3>
                <p>
                    You can share and learn tips on shopping deals, education, entertainment and health.
                </p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="cover-page-item">
            <img width="120" height="120" src="/assets/images/events-icon.png">
            <div>
                <h3>Events</h3>
                <p>
                    Looking for playdates or family events for your children in this coming weekend? You can also
                    publish your children's activity schedules and share with other parents.
                </p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="cover-page-item">
            <img width="120" height="120" src="/assets/images/listings-icon.png">
            <div>
                <h3>Listings</h3>
                <p>
                    Do you want to sell, exchange or loan children toys with others? Do you want to give away used clothes or equipments?
                </p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="cover-page-item">
            <img width="120" height="120" src="/assets/images/ask-icon.png">
            <div>
                <h3>Ask</h3>
                <p>
                   Ask nearby parents any questions about parenting. Or you can search our Q & A database.
                </p>
            </div>
        </div>
    </div>
</div>