<div class="jumbotron">
    <h1>Welcome to Siwimi Parents</h1>
    <p class="lead">
        This is a social network dedicated to parents who have young children.  
    </p>
    <p>
    	It's where we all get help and help others.
    </p>
</div>