<div class="row row-gutter-bottom">
    <div class="col-xs-12">
        <h1>Hi {{model.firstName}}, You are almost done!</h1>
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-12 col-md-2">
        <label>
            Upload Your Profile Image:
        </label>
    </div>
    <div class="col-xs-12 col-md-4">
        {{file-upload content=model}}
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-12 col-md-2">
        <label>

        </label>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="control-group">
            <div class="btn-group" data-toggle="buttons-radio">

                {{#radio-button selectedValue=model.gender value="male" }}Male{{/radio-button}}

                {{#radio-button selectedValue=model.gender value="female" }}Female{{/radio-button}}

            </div>
        </div>
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-xs-12 col-md-2">
        <label>
            Birthday:
        </label>
    </div>
    <div class="col-xs-12 col-md-2">
        {{bs-datetimepicker date=model.birthdayMoment format='YYYY-MM-DD' width="200"}}
    </div>
</div>
<div class="row row-gutter-bottom">
    <div class="col-md-offset-2">
        <button type="button" class="btn btn-cys" {{action "signUp" }}>Complete Sign Up Process</button>
    </div>
</div>

